<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">List of Users</h3>
                <a asp-area="" asp-controller="Account" asp-action="RegisterFromCsv" class="btn btn-primary">Add New User</a>
            </div>

            <div class="card-body">
                <table id="usersTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Pin</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>@user.Pin</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Department</td>
                                <td>@user.Designation</td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" id="statusSwitch_@user.UserName"
                                        @(user.Status ? "checked" : "")
                                               data-user-id="@user.UserName"
                                               onclick="toggleStatus(this)">
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a asp-action="ChangeRole" asp-route-id="@user.UserName" class="btn btn-sm btn-primary" title="Edit">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="btn btn-danger btn-sm" title="Delete" data-user-id="@user.UserName" data-user-name="@user.UserName" onclick="openDeleteModal(this)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
